.cardsContainer {
  border: 2px solid red;
  margin: 0 auto;
  max-width: 1600px;
  width: 80%;
  @media only screen and (max-width: 700px) {
    width: 100%;
  }

  .cardGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    @media only screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}
