// Importing global variables
@import '../../utils/scssVariables/variables';

.cardsContainer {
  margin: 1rem auto 0 auto;
  max-width: 1600px;
  width: 80%;
  font-family: 'Titillium Web';
  @media only screen and (max-width: 700px) {
    width: 100%;
  }

  .cardGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    @media only screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}

.loading {
  position: relative;
  background: $main;
  margin-top: 10vh;
  height: 90vh;
  width: 100vw;

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
