// Importing global variables
@import './utils/scssVariables/variables';

.arrowToTop {
  position: fixed;
  left: 0;
  top: 50%;
  background: $accent;
  color: $background;
  font-size: 4rem;
  cursor: pointer;
  transform: rotate(90deg);
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.9;
    transform: rotate(0);
  }

  @media screen and (max-width: 1000px) {
    font-size: 3rem;
  }
}
